
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('assets/background/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  padding: 20px;
}

header {
  text-align: center;
  margin-top: 40px;
}

.profile-img {
  width: 150px;
  border-radius: 100px;
  display: block;
  margin: 20px auto;
}

section {
  margin: 40px 0;
}
